*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f5f9ff;
    line-height: 1.6;
     color:darkcyan;

}
Header
{
    display:grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding:16px 32px;
    background-color: rgb(254, 255, 255);
    border-bottom: 1px solid beige;
}
.brand{
    width:100%;
    
}
.brand h3{
    color:rgb(27, 61, 255);
}
nav{
    display:grid;
    /* grid-template-columns: auto;
    background-color: gray; */
    align-items: center;
}
nav ul{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    list-style: none;
    justify-content: end;
    column-gap: 16px;;
}
nav a{
    text-decoration:none;
    color:#222e49;
    font-weight:500;

}
nav a:hover,
nav a:active{
    color:#cc2103;
}
summary::-webkit-details-marker{
    display:none

}

.hero{
    max-width: 1100px;
    margin:48px auto;
    padding:32px;
    display:grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    gap:48px;
}
.hero-image{
    display: grid;
    place-items: center;
}
.hero-imgage img{
    width:250px;
    height:250px;
    border-radius: 50%;
    border:1 px solid
}
.about{
    background-color: aqua;
    height:300px
}
footer{
    display:grid;
    place-items:center;
    background-color: #111;
    color:white;
    padding :16px;
}
.projects,.contact,.video,.report{
    max-width: 1100px;
    margin:48px autp;
    padding:32px;
}
.project-grid{
    display:grid;
    grid-template-columns: auto auto;
    gap:24px;
}
.card{
    background:white;
    padding:16px;
    text-align: center;
    box-shadow:0 10px 20px rgba(0,0,0,0.1);

}
.contact form{
    display:grid;
    gap:16px;
}
input,textarea{
    padding:10px;
    border:1px solid black;
}
iframe{
    display:block;
    margin:auto;
}