*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    line-height: 1.6;
     color:black;

}
Header
{
    display:grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding:16px 32px;
    background-color: aliceblue;
}
.brand{
    width:100%;
    
}
.brand h3{
    color:cadetblue;
}
nav{
    display:grid;
    grid-template-columns: auto;
    background-color: gray;
    align-items: center;
}
nav ul{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    list-style: none;
    justify-content: end;
    column-gap: 16px;;
}
nav a:hover,
nav a:active{
    color:#ff4d2d;
}

.hero{
    max-width: 1100px;
    margin:48px auto;
    padding:32px;
    display:grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    gap:48px;
}
.hero-image{
    display: grid;
    place-items: center;
}
.hero-imgage img{
    width:250px;
    height:250px;
    border-radius: 50%;
    border:1 px solid
}
.about{
    background-color: aqua;
    height:300px
}
footer{
    display:grid;
    place-items:center;
    background-color: #111;
    color:white;
    padding :16px;
}